
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__indicator {
    display: block;
    color: #2E80DD;
    width: 180px;
    height: 6px;
    border-radius: 30px;
    background-color: #babdc2;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background: #2E80DD;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      border-radius: 30px;
      animation: moving 1s ease-in-out infinite;
    }

    @keyframes moving {
      50% {
        width: 100%;
      }

      100% {
        width: 0;
        right: 0;
        left: unset;
      }
    }
  }

  &__text {
    font-size: 20px;
    color: #2E80DD;
    font-weight: bolder;
    margin-bottom: 0px;
  }

}

